	#header{
		width:100%;
		height:155px;
		background:#f0f3f5;
		margin-bottom:45px;
	}
	#list{
		height:31px;
		background:#545652;
	}
	#list li{
		float:left;
		width:48px;
		height:28px;
		text-align:center;
	}
	#list a{
		height:28px;
		line-height:28px;
		font-size:12px;
		color:#CCC;
	}
	#list li a:hover{color:#fff;}
	#list .head-rig{
		float:right;
		margin-right:15px;
	}
	#list .head-rig span{
		margin-right:13px;
	}
	#search{
		width:950px;
		height:115px;
		margin:0 auto;
	}
	#search img,ul,input{ vertical-align: middle; }
	#search input{
		width:250px;
		height:25px;
		text-indent:5px;
		margin-left:35px;
		border:1px solid #ccc;
		background:url(C:/Users/XY/Desktop/img1/main/0.png) no-repeat 230px center #fff;
	}
	#search .sea-lis li{
		float:left;
		height:40px;
		margin:0 auto;
	}
	#search .sea-lis li a{
		color:#666;
		margin-right:25px;
		line-height:40px;
	}
	#search ul li a:hover{ color: #fff;background-color:#007622;}
	#content{
		width:1000px;
		min-height:100%;
		margin:0 auto;
		position:relative;
		padding-bottom:60px;
		overflow:hidden;
	}
	#main{
		width:950px;
		margin:0 auto;
	}
	#left{
		width:600px;
		float:left;
	}
	#ads{
		width:590px;
		height:250px;
		position:relative;
	}
	#ads img{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		opacity:0;
		animation-duration:0.7s;
		animation-fill-mode: forwards;
		animation-timing-function: linear;
	}
	#ads img.show{animation-name:show;}
	#ads ul{
		position:absolute;
		bottom:10px;
		left:50%;
		transform:translateX(-50%);
	}
	#ads ul li{
		border-radius:50%;
		width:12px;
		height:12px;
		background-color: rgba(255,255,255,0.7);
		cursor:pointer;
		float:left;
		margin-right:8px;
	}
	#ads ul li.active{background-color: orange;}
	@keyframes show{
		from{opacity:0;}
		to{opacity:1;}
	}
	
	#musician{
		width:593px;
		margin-top:40px;
		margin-bottom:50px;
	}
	#musician .show{display:block;}
	#musician span{
		font-size:12px;
		color:#666;
	}
	#musician span em{cursor:pointer;}
	#musician span .show1{
		font-size:16px;
		color:#333;
	}
	#fash,#quik{
		height:400px;
		background:#f5f7f8;
		padding:20px 10px;
		display:none;
	}
	#musician img{
		width:120px;
		height:120px;
		cursor:pointer;
		padding:2px;
		margin-bottom:20px;
	}
	#musician li,#sen2 li,#sen3 li{
		float:left;
		margin-left:15px;
	}
	#musician li span{text-align:center;}
	#musician li span,#sen2 li span,#sen3 li span{display:block;}
	#musician li span a,#sen2 li span a,#sen3 li span a{
		display:block;
		font-size:16px;
		color:#138a64;
	}
	#musical li span em,#sen2 li span em,#sen3 li span em{
  		font-size: 12px;
  		line-height: 30px;
  		color: #666;
  	}
	#send .sen1{
		font-size:20px;
		margin-right:77%;
		color:#555;
		display:inline-block;
	}
	#send .show{display:block;}
	#send #but1,#but2{
		width:20px;
		height:20px;
		cursor:pointer;
		border-radius:20px;
		background-color: #23ab88;
		display:inline-block;
		font-size:12px;
		line-height:20px;
		font-weight:bold;
		color:#fff;
		text-align:center;
	}
	#send #but1{ background: #80cfbb; }
	#sen2,#sen3{
		width:600px;
		height:390px;
		background-color: #f5f7f8;
		display:none;
	}
	#sen2 li,#sen3 li{
		float:left;
		width:180px;
		padding:10px 14px;
		background-color: #fff;
		margin-left:12px;
		margin-top:20px;
	}
	#sen2 p,#sen3 p{
  		font-size: 12px;
  		color: #999;
	}


	#right{
		width:300px;
		float:right;
	}
	#right .rig-top img{width:200px;height:200px;text-align:center;}
	#right .top-lis{margin-top:25px;}
	#right .top-lis ul{width:310px;}
	#right .top-lis li{
		float:left;
		background:#f5f7f8;
		width:100px;
		height:60px;
		margin-right:3px;
		font-size:16px;
		line-height:30px;
		text-align:center;
		color:#333;
		border-bottom:5px solid #fff;
	}
	#right .top-lis strong{display:block;color:#23ab88;}
	#right .top-lis .join{
	  	width: 310px; height: 40px;
	  	border-radius: 5px;
	  	font-size: 16px;
	  	text-align: center;
	  	background: #23ab88;
	  	clear: both;
	  	margin-bottom: 30px;
	  	color: #fff;
	  	line-height: 40px;
	  	cursor: pointer;
	}

	#hot strong{
		font-size:20px;
		margin-right:35%;
		color:#555;
	}
	#hot .but3{
		width:80px;
		height:25px;
		line-height:25px;
		background:#388d78;
		color:#fff;
		font-size:14px;
		text-align:center;
		border-radius:5px;
		display:inline-block;
	}
	#hot hr{
		height:2px;
		margin:3px auto;
	}
	#hot li{
		float:left;
		color:#666;
	}
	#hot a{
		color:#666;
		margin-left:4px;
		font-size:12px;
	}
	#hot a:hover{text-decoration:underline;}
	#hot-lis{margin-top:30px;}
	#hot-lis .sec{display:block;}
	#hot li .sec{ color: #247258; }
	#hot-lis ul{display:none;}
	#hot-lis li{
		width:310px;
		height:60px;
		color:#666;
		padding:5px 10px;
	}
	#hot-lis li:hover{background-color: #f5f7f8;cursor:pointer;}
	#hot-lis li img{
		float:left;
		width:50px;
		height:50px;
		border-radius:50%;
		margin-right:5px;
	}
	#hot-lis li em{
		display:block;
		color:#3f8f74;
		font-size:14px;
		font-weight:bold;
	}
	#hot-lis li span{
		font-size:12px;
		margin-top:10px;
	}
	#hot-lis li h1{
		float:right;
		color:#e6e6e6;
		font-size:50px;
		margin-top:-20px;
		margin-right:15px;
	}


	#footer{
		width:100%;
		height:50px;
		line-height:50px;
		font-family:Tahoma;
		color:#aaa;
		position:absolute;
		left:0;
		bottom:0;
		border-top:1px dashed #999;
	}
	#footer ul{
		float:right;
	}
	#footer li{
		float:left;
	}
	#footer li a{
		font-size:13px;
		color:#3276ab;
		line-height:30px;
	}