	*{margin:0;padding:0;box-sizing:border-box;user-select:none;}
	a{text-decoration:none;color:#000;}
	li{list-style:none;}
	body{font-size:12px;}
	input{ vertical-align: middle; outline: 0; }
	em{ font-style: normal; }